<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Cooplit - Connecting Academia</title>
		<meta name="description" content="">
		<meta name="author" content="Megan Wancura">
		<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
		<link href="cover.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	</head>

	<!-- nav bar at top of screen -->
	<body class="text-center">
		<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
	      <header class="p-3 text-bg-dark">
	        <div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
					</a>
			
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li><a href="/index.html" class="nav-link px-2 text-white">Home</a></li>
						<li><a href="/about.html" class="nav-link px-2 text-secondary">Mission</a></li>
						<li><a href="/contact.html" class="nav-link px-2 text-white">Contact</a></li>
						<!--<li><a href="../html/mock.html" class="nav-link px-2 text-white">Network Mock-Up</a></li>-->
						</ul>
	        	</div>
			</div>
	      </header>

	      <main role="main" class="inner cover">


			<!-- Mission Statement Section-->
			<div class="container my-5">
				<div class="row p-4 pb-0 ps-lg-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
					<h1 class="display-8 fw-bold lh-1 mb-5">Academia: Unnecessarily Chaotic</h1>
					<span class="border-bottom border-2"></span>
					<p class="lead fs-4 mt-3">
						Cooplit is a project primarily by and for graduate students focused on making academia more navigable.</p>
					<p class="lead fs-4 mt-2">
						And therefore more equitable!</p>
					<span class="border-bottom border-2"></span>

					<!--ideation to cooplit-->
					<div class = "row justify-content-md-center">
						<div class = "col col-lg-8 mt-5">
							<div class ="display-6 fs-5">
								Cooplit started out as a funny idea one day while looking at the 
								500 papers in my Endnote library and texting a crush </div>
						</div>
					</div>
					<div class ="row justify-content-md-center mt-3 mb-5">
						<div class ="col col-lg-2">
							<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/1sttextpic.jpg?raw=true" class="img-fluid" alt="d">
						</div>
						<div class ="col col-lg-2">
							<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/2ndTextPic.jpg?raw=true" class="img-fluid" alt="d">
						</div>
					</div>
					<span class="border-bottom border-2"></span>

					<!--background to cooplit-->
					<div class = "row justify-content-md-center">
						<div class = "col col-lg-10 mt-5 mb-5">
							<p class ="display-6 fs-5 mb-3">
								After realizing that one couldn't simply post: <em>"please make this thing"</em>
								online and have it done according to their whims, I decided to try to make it myself! Of course, 
								with the help of others. The vision has evolved greatly from this first text as I went from a Chemistry
								Ph.D. student with a lot of teaching experience to Chemistry Ph.D. student with a lot of teaching 
								experience and one business class. 
							</p>
							<p class ="display-6 fs-5 mb-3">
								Cooplit stands for "Cooperative Literature". The basic premise is a strong belief that one would
								have a lot to say to those who had a similar body of literature in their library. Cooplit is for
								all the major nerds (like me) who want desperately to talk to someone who understands their research
								at a deep level -- other than their professor! 
							</p>
							<p class ="display-6 fs-5 mb-3">
								In order to acheive a network that enables one to find another with similar literature interests, a 
								vision of a web of academia appeared. One where an outsider could see "who does what where" in academia by 
								clicking on a field and seeing where in the world and who in the world is working in that area.
							</p>
							<p>
								<a href="https://www.wired.com/2009/03/mapofscience/"><img src="https://www.wired.com/images_blogs/photos/uncategorized/2009/03/11/journalpone0004803g005.png?raw=true" class="img-fluid" alt="Wired"></a>
							</p>
							<p class ="display-6 fs-5 mt-3"></p>
								In this network, academics could ask and answer questions. And people from non-profits could list work they 
								needed help on. Citizen scientists could engage in discourse with Ph.D. students, and everyone would be more
								interested in collaborating with their internet friends than competing with that one annoying person who 
								has published more papers than them.
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Vision Statement Section-->

			<div class="container my-5">
				<div class="row bg-dark p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg bg-secondary">
					<h1 class="display-8 fw-bold lh-1 text-white">Vision Statement</h1>
					<p class="lead text-white mt-3">Our vision is informed by our hypothesis that improving connectivity in academia will 
						increase collaboration, participation, and speed up innovation by dissipating power to more people.</p>
					
					<!-- List of vision statemetns -->
					<div class = "row justify-content-md-center">
						<div class = "col col-lg-10 mt-2 mb-5">
							<ol class="list-group list-group-numbered py-3 justify-content-center">
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
									<div class="fw-bold">Build a Tree of Life for All of Academia</div>
									Create an ever-growing, networked map of all academic subfields as a root for the who-does-what-where. 
									This map will be navigable to the public.
									</div>
								</li>
								<li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
									<div class="fw-bold">Categorize Academics into Tree of Life Based on Literature Libraries</div>
									Utilizing citation information, sort academics into niche sub-sub-subfields of academia based 
									on the contents of their preferred literature library.
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
									<div class="fw-bold">Enable New Academic Experts via Network Participation</div>
									By fostering online discourse and connection-making, enable more people to get their names
									out through their expertise-sharing, enabling new types of the reputation-creation that is 
									so important to academia.
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
									<div class="fw-bold">Foster Non-profit Collaborations and Technology Transfer</div>
									After establishing an academic network of interested researchers within and beyond the white tower,
									enable data-seeking non-profits to post targeted requests in relevant communities to find collaborators and 
									help institutions seeking labs ready to translate their research to more easily find students excited to 
									work on translational start-ups.
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<!-- Bonus content section - meg cares about people -->
			<!--
			<div class="container my-5">
				<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
					<h1 class="display-8 fw-bold lh-1 mb-5">Academia: Unnecessarily (Emotionally) Painful</h1>
					<span class="border-bottom border-2"></span>
					<p class="lead fs-4 mt-3">Graduate school can be one of the most stressful periods of one's life</p>
					<span class="border-bottom border-2"></span>
						<div class = "row justify-content-md-center">
							<div class = "col col-lg-10 mt-3 mb-5 mt-5">
								<div class ="display-6 fs-5">We also care deeply about empowering graduate students to have the best possible experience 
									navigating the difficulties of academia. This project aims to ensure graduate students can more easily navigate the 
									complicated networks of academia, establishing their own network beyond that which exists ofr their PI. Find our blog 
									about navigating graduate school here</div>
								<a href="https://meganwancura.substack.com/" class="card-link">Navigating Graduate School - Substack</a>
							</div>
						</div>
						
				</div>
			</div>
		-->
			<!-- Contact us/learn more-->
			<div class = "row">
				<div class = "column">
					<button class="btn btn-secondary">
						<a href="../html/contact.html" class="nav-link px-2 text-white">Contact</a>
					</button>
				</div>
			</div>
	      </main>
   	 	</div>




		<!--<script src="assets/js/bootstrap.bundle.js"></script></!-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</body>

	<footer class="mastfoot mt-auto">
		<div class="inner">
			<p>Webpage made with <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/MeganWancura">@Megan Wancura</a>.</p>
		</div>
	</footer>

</html>
