<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Cooplit - Connecting Academia</title>
		<meta name="description" content>
		<meta name="author" content>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>

	<body>
			<!--Top line links-->
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Cooplit</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">

			<!--Cover page-->
			<div class = "row">
				<div class = "column">
					<h1 class="font-weight-bold">Cooplit</h1>
				</div>
			</div>

			<div class = "row">
				<div class = "column">
					<h2> Welcome in :)</h2>
					<p class="font-weight-normal"> At cooplit, we believe...</p>

				</div>
			</div>

			<!-- Geographical map example-->
			<div class="row">
				<div class="col">
					<div id="geoMap" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<!-- First slide, zoomed out map -->
							<div class="carousel-item active">
								<img src="https://content.codecademy.com/courses/learn-bootstrap-components/garden-slide1.jpg" class="d-block w-100" alt="butterfly in field">
							</div>
							<!-- Second slide, zoom1x, country level -->
							<div class="carousel-item">
								<img src="https://content.codecademy.com/courses/learn-bootstrap-components/garden-slide2.jpg" class="d-block w-100" alt="colorful tulips">
							</div>
							<!-- Third slide, zoom2x, state level -->
							<div class="carousel-item">
								<img src="https://content.codecademy.com/courses/learn-bootstrap-components/garden-slide3.jpg" class="d-block w-100" alt="inside of a greenhouse">
							</div>
							<!-- fourth slide, zoom3x, school level -->
							<!-- CAN I MAKE THIS INTERACTIVE? -->
							<div class="carousel-item">
								<img src="https://content.codecademy.com/courses/learn-bootstrap-components/garden-slide3.jpg" class="d-block w-100" alt="inside of a greenhouse">
							</div>
						</div>

						<!-- controls for image panning: -->
						<button class="carousel-control-prev" type="button" data-bs-target="#geoMap" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#geoMap" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden"> Next </span>
						</button>
					</div>
				</div>
			</div>

			<!-- Field map example-->
			<div class="row">
				<div class="col">
					<div id="fieldMap" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<!-- First slide, zoomed out map -->
							<div class="carousel-item active">
								<img src="https://content.codecademy.com/courses/learn-bootstrap-components/garden-slide1.jpg" class="d-block w-100" alt="butterfly in field">
							</div>
							<!-- Second slide, zoom1x, country level -->
							<div class="carousel-item">
								<img src="https://content.codecademy.com/courses/learn-bootstrap-components/garden-slide2.jpg" class="d-block w-100" alt="colorful tulips">
							</div>
							<!-- Third slide, zoom2x, state level -->
							<div class="carousel-item">
								<img src="https://content.codecademy.com/courses/learn-bootstrap-components/garden-slide3.jpg" class="d-block w-100" alt="inside of a greenhouse">
							</div>
							<!-- fourth slide, zoom3x, school level -->
							<!-- CAN I MAKE THIS INTERACTIVE? -->
							<div class="carousel-item">
								<img src="https://content.codecademy.com/courses/learn-bootstrap-components/garden-slide3.jpg" class="d-block w-100" alt="inside of a greenhouse">
							</div>
						</div>
						<!-- controls for image panning: -->
						<button class="carousel-control-prev" type="button" data-bs-target="#fieldMap" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#fieldMap" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden"> Next </span>
						</button>
					</div>
				</div>
			</div>

			<!-- Contact us/learn more-->
			<div class = "row">
				<div class = "column">
					<button class="btn btn-secondary">
						Submit
					</button>
				</div>
			</div>

		</div>

		<!--><script src="assets/js/bootstrap.bundle.js"></script></!-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</body>

</html>
