<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Cooplit - Connecting Academia</title>
		<meta name="description" content="">
		<meta name="author" content="Megan Wancura">
		<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
		<link href="cover.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	</head>
	
	<!-- nav bar at top of screen -->
	<body class="text-center">
		<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
	      <header class="p-3 text-bg-dark">
	        <div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
					</a>
			
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
						<li><a href="#Demo" class="nav-link px-2 text-white">But What Is It?</a></li> <!-- find out how to move to section in page here-->
						<li><a href="/contact.html" class="nav-link px-2 text-white">Contact</a></li>
						<li><a href="/mock.html" class="nav-link px-2 text-white">Demo</a></li>
					</ul>
	        	</div>
			</div>
	      </header>

	      <main role="main" class="inner cover">

			<div class="container my-5">
				<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg justify-content-md-center">
					<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/CooplitLogo.png?raw=true" class="d-block w-50" alt="logo">
					<h1 class="h-2 mt-2 mb-3">(cooperative literature)</h1>
					<div class = "row justify-content-md-center mb-5">
						<div class = "col col-lg-10">
							<p class="lead fs-2 mb-3"> 
								We believe research is more fun when you can talk about it on the daily. 
								Our goal is to enable you to use your carefully curated literature library 
								to find other people interested in the same stuff you are.</p>
						</div>
						<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/fieldmatch.png?raw=true" class="d-block w-60" alt="connection">
					</div>
				</div>
			</div>

			<!-- Mission Statement Section-->
			<div class="container my-5">
				<div class="row p-4 pb-0 ps-lg-0 pe-lg-0 pt-lg-5 align-items-center justify-content-center rounded-3 border shadow-lg">
					<h1 class="display-8 fw-bold mb-5">ABOUT</h1>
					<div class="row bg-dark justify-content-center">
						<div class ="col col-lg-8">
							<p class="lead fs-3 mt-3 text-white">
								Cooplit is a project primarily by and for graduate students focused on making academia more navigable.</p>
							<p class="lead fs-3 mt-1 text-white">
								And therefore more equitable!</p>
						</div>
					</div>

					<!--ideation to cooplit-->
					<div class = "row justify-content-md-center">
						<div class = "col col-lg-6 mt-4">
							<div class ="fs-4">
								This started out as a funny idea one day while looking at the 
								500 papers in my Endnote library and texting a crush </div>
						</div>
					</div>
					<div class ="row justify-content-md-center mt-3 mb-5">
						<div class ="col col-lg-3">
							<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/1sttextpic.jpg?raw=true" class="img-fluid rounded" alt="d">
						</div>
						<div class ="col col-lg-3">
							<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/2ndTextPic.jpg?raw=true" class="img-fluid rounded" alt="d">
						</div>
					</div>
					<span class="border-bottom border-2"></span>

					<!--background to cooplit-->
					<div class = "row justify-content-md-center bg-dark">
						<div class = "col col-lg-11 mt-5 mb-5">
							<p class ="fs-4 mb-3 text-white">
								After realizing that one couldn't simply post: <em>"please make this thing"</em>
								online and have it done according to their whims, I decided to try to make it myself! Of course, 
								with the help of others. The vision has evolved greatly from this first text as I went from a Chemistry
								Ph.D. student with a lot of teaching experience to a Chemistry Ph.D. student with a lot of teaching 
								experience and one business class. 
							</p>
							<p class ="fs-4 mb-3 text-white">
								Cooplit stands for "Cooperative Literature". The basic premise is a strong belief that one would
								have a lot to say to those who had a similar body of literature in their library. Cooplit is for
								all the major nerds (like me) who want desperately to talk to someone who understands their research
								at a deep level -- other than their professor! 
							</p>
							<p class ="fs-4 mb-3 text-white">
								In order to acheive a network that enables one to find another with similar literature interests, a 
								vision of a web of academia appeared. One where an outsider could see "who does what where" in academia by 
								clicking on a field and seeing where in the world and who in the world is working in that area.
							</p>
							<p>
								<a href="https://www.wired.com/2009/03/mapofscience/"><img src="https://www.wired.com/images_blogs/photos/uncategorized/2009/03/11/journalpone0004803g005.png?raw=true" class="img-fluid" style="max-width:50%" alt="Wired"></a>
							</p>
							<p class ="fs-4 mt-3 text-white">
								In this network, academics could ask and answer questions. And people from non-profits could list work they 
								needed help on. Citizen scientists could engage in discourse with Ph.D. students, and everyone would be more
								interested in collaborating with their internet friends than competing with that one annoying person who 
								has published more papers than them.
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- What does it look like section -->
			<div class="container mb-5">
				<div class="row align-items-center justify-content-md-center rounded-3 border shadow-lg ">
					<h1 class="display-8 fw-bold lh-1 mt-3 mb-3" id="Demo">So What Does It Look Like?</h1>
					<div class="col col-lg-10">
						<p class="mt-3 mb-3 lead">
							Still figuring that out! But i'll be two layers.</p> 
							<p class="lead">One layer- a geographic map so you can see WHERE the research happens.</p>
							<p class="lead">The other layer- a force-directed graph view, to see how all the fields are connected
						</p>
					</div>
					<!-- Geographical map example-->
					<div class="row">
						<div class="col">
							<div id="demo" class="carousel carousel-dark slide" data-bs-ride="true">
								<div class="carousel-inner" role="listbox" style=" width:100%; height: 550px !important;">
									<div class="carousel-item active">
										<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/network%20graph%20view.png?raw=true" class="img-fluid align-items-center" alt="force directed graph applied">
									</div>
									<div class="carousel-item">
										<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/Field%20interface.png?raw=true" style="max-width:70%" class="img-fluid" alt="subfield view">
									</div>
								</div>
								
								<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden"> Next </span>
								</button>
							</div>
						</div>
					</div>
					<div class="col col-lg-10">
						<p class="mb-3 lead">
							So far, these are the tools we're planning to use. Mix of links below, GIS, and SQL
						</p>
					</div>

					<div class="row">
						<div class="col">
							<div id="tools" class="carousel carousel-dark slide" data-bs-ride="true">
								<div class="carousel-inner" role="listbox" style=" width:100%; height: 600px !important;">
									<div class="carousel-item active">
										<a href="https://observablehq.com/@d3/versor-dragging">
											<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/world.png?raw=true" class="img-fluid" style="max-width:40%" alt="world">
										</a>
									</div>
									<div class="carousel-item">
										<a href="https://bost.ocks.org/mike/bubble-map/">
											<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/bubble%20mpa.png?raw=true" class="img-fluid" style="max-width:50%" alt="country map w bubbles">
										</a>
									</div>
									<div class="carousel-item">
										<a href="https://observablehq.com/@sbryfcz/d3-force-directed-graph-with-convex-hull">
											<img src="https://github.com/meg-wancura/meg-wancura/blob/main/webimgs/force-directed%20graph.png?raw=true" class="img-fluid" style="max-width:60%" alt="force directed graph web"> 
										</a>
									</div>
								</div>
								
								<button class="carousel-control-prev" type="button" data-bs-target="#tools" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#tools" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden"> Next </span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Vision Statement Section-->

			<div class="container my-5">
				<div class="row bg-dark p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center justify-content-center rounded-3 border shadow-lg bg-secondary">
					<div class="col col-lg-8">
						<h1 class="display-8 fw-bold lh-1 text-white">Vision Statement</h1>
						<p class="lead fs-4 text-white mt-3">Our vision is informed by our hypothesis that improving connectivity in academia will 
						increase collaboration, participation, and speed up innovation by dissipating power to more people.</p>
					</div>
					<!-- List of vision statemetns -->
					<div class = "row justify-content-md-center align-items-center">
						<div class = "col col-lg-8 mt-2 mb-5">
							<ol class="list-group list-group-numbered py-3 justify-content-center">
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
									<div class="fw-bold fs-5">Build a Tree of Life for All of Academia</div>
									Create an ever-growing, networked map of all academic subfields as a root for the who-does-what-where. 
									This map will be navigable to the public.
									</div>
								</li>
								<li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
									<div class="fw-bold">Categorize Academics into Tree of Life Based on Literature Libraries</div>
									Utilizing citation information, sort academics into niche sub-sub-subfields of academia based 
									on the contents of their preferred literature library.
									</div>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
									<div class="fw-bold">Enable New Academic Experts via Network Participation</div>
									By fostering online discourse and connection-making, enable more people to get their names
									out through their expertise-sharing, enabling new types of the reputation-creation that is 
									so important to academia.
									</div>
								</li>
								<li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
									<div class="fw-bold">Foster Non-profit Collaborations and Technology Transfer</div>
									After establishing an academic network of interested researchers within and beyond the ivory tower,
									enable data-seeking non-profits to post targeted requests in relevant communities to find collaborators and 
									help institutions seeking labs ready to translate their research to more easily find students excited to 
									work on translational start-ups.
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			
			
			<!-- funny song insert-->
			<div class="container mb-5">
				<div class="row align-items-center rounded-3 border shadow-lg bg-light">
					<div class="row mb-3">
						<h2 class="display-8 fw-bold lh-1 mt-3 mb-3">An Emotional Appeal</h1>
						<p class="font-size-1">(amateur web builder, amateur musician, 'tis not plug, 'tis simply a failure to understand another way to insert audio)</p>
						<div class="row mb-2 justify-content-md-center">
							<div class = "col col-lg-10">
								<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1444981381&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								<div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
									<a href="https://soundcloud.com/user-501798790" title="" target="_blank" style="color: #cccccc; text-decoration: none;"></a>
									<a href="https://soundcloud.com/user-501798790/cooplit-voiceover" title="Cooplit  Voiceover" target="_blank" style="color: #cccccc; text-decoration: none;"></a>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>

			<!-- Contact us/learn more-->
			<div class = "row mb-3">
				<div class = "column">
					<button class="btn btn-secondary">
						<a href="/contact" class="nav-link px-2 text-white">Contact</a>
					</button>
				</div>
			</div>

	      </main>
   	 	</div>

		<!--><script src="assets/js/bootstrap.bundle.js"></script></!-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</body>

	<footer class="mastfoot mt-auto">
		<div class="inner">
			<p>Webpage made with <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/MeganWancura">@Megan Wancura</a>.</p>
		</div>
	</footer>

</html>
