<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Cooplit - Connecting Academia</title>
		<meta name="description" content="">
		<meta name="author" content="Megan Wancura">
		<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
		<link href="cover.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	</head>

	<body class="text-center">
		<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
	      <header class="p-3 text-bg-dark">
	        <div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
					  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
					</a>
			
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
						<li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
						<li><a href="/contact.html" class="nav-link px-2 text-white">Contact</a></li>
						<li><a href="/mock.html" class="nav-link px-2 text-white">Demo</a></li>
					</ul>
					
	        	</div>
			</div>
	      </header>

          {% block content %}

          {% endblock content %}


		<!--><script src="assets/js/bootstrap.bundle.js"></script></!-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</body>

	<footer class="mastfoot mt-auto">
		<div class="inner">
			<p>Webpage made with <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/MeganWancura">@Megan Wancura</a>.</p>
		</div>
	</footer>

</html>
